.container{
  display: flexbox;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.cardsContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.positive {
  color: #10b981;
}

.negative {
  color: #ef4444;
}